@import "tailwindcss";

@theme {
    --text-4xl: 29px;
    --text-3xl: 24px;
    --text-2xl: 19px;
    --text-xl: 18px;
    --text-lg: 15px;
    --text-base: 13px;
    --text-sm: 11px;
    --text-xs: 9px;
    --radius-sm: 3px;
    --radius-md: 4px;
    --radius-lg: 6px;
    --radius-xl: 8px;
    --radius-full: 128px;
    /* color */
    --color-badge-bg-color: var(--color-purple-600);
    --color-badge-border-color: var(--color-purple-600);
    --color-badge-text-color: var(--color-purple-600);
    --color-base-accent-100: var(--color-blue-100);
    --color-base-accent-200: var(--color-blue-200);
    --color-base-accent-300: var(--color-blue-300);
    --color-base-accent-400: var(--color-blue-400);
    --color-base-accent-50: var(--color-blue-50);
    --color-base-accent-500: var(--color-blue-500);
    --color-base-accent-600: var(--color-blue-600);
    --color-base-accent-700: var(--color-blue-700);
    --color-base-accent-800: var(--color-blue-800);
    --color-base-accent-900: var(--color-blue-900);
    --color-base-accent-950: var(--color-blue-950);
    --color-base-bg-color-light: var(--color-slate-50);
    --color-base-bg-color-lighter: var(--color-slate-100);
    --color-base-bg-color-regular: var(--color-white);
    --color-base-border-color: var(--color-gray-300);
    --color-base-icon-color-accent: var(--color-blue-600);
    --color-base-icon-color-muted: var(--color-slate-400);
    --color-base-icon-color-primary: var(--color-slate-950);
    --color-base-icon-color-secondary: var(--color-slate-500);
    --color-base-text-color-accent: var(--color-blue-600);
    --color-base-text-color-muted: var(--color-slate-400);
    --color-base-text-color-primary: var(--color-slate-950);
    --color-base-text-color-secondary: var(--color-slate-500);
    --color-button-split-border-color-filled: var(--color-base-accent-400);
    --color-button-split-border-color-filled-disabled: var(--color-base-accent-300);
    --color-button-split-border-color-filled-hover: var(--color-base-accent-500);
    --color-button-split-border-color-outline: var(--color-gray-300);
    --color-button-bg-color-destructive: var(--color-red-600);
    --color-button-bg-color-destructive-disabled: var(--color-red-400);
    --color-button-bg-color-destructive-hover: var(--color-red-500);
    --color-button-bg-color-filled: var(--color-base-accent-600);
    --color-button-bg-color-filled-disabled: var(--color-base-accent-400);
    --color-button-bg-color-filled-hover: var(--color-base-accent-500);
    --color-button-bg-color-outline: var(--color-white);
    --color-button-bg-color-outline-disabled: var(--color-base-accent-300);
    --color-button-bg-color-outline-hover: var(--color-white);
    --color-button-border-color-destructive-focus-out: var(--color-red-100);
    --color-button-border-color-focus-out: var(--color-base-accent-100);
    --color-button-border-color-outline: var(--color-gray-300);
    --color-button-border-color-outline-focus: var(--color-base-accent-600);
    --color-button-border-color-outline-hover: var(--color-base-accent-600);
    --color-button-icon-color-destructive: var(--color-white);
    --color-button-icon-color-filled: var(--color-white);
    --color-button-icon-color-outline: var(--color-gray-900);
    --color-button-text-color-destructive: var(--color-white);
    --color-button-text-color-destructive-disabled: var(--color-red-200);
    --color-button-text-color-destructive-hover: var(--color-white);
    --color-button-text-color-filled: var(--color-white);
    --color-button-text-color-filled-disabled: var(--color-base-accent-200);
    --color-button-text-color-filled-hover: var(--color-white);
    --color-button-text-color-link: var(--color-blue-700);
    --color-button-text-color-link-disabled: var(--color-blue-300);
    --color-button-text-color-link-hover: var(--color-blue-500);
    --color-button-text-color-outline: var(--color-gray-900);
    --color-button-text-color-outline-disabled: var(--color-gray-300);
    --color-button-text-color-outline-hover: var(--color-base-accent-600);
    --color-button-toggle-bg-color: var(--color-white);
    --color-button-toggle-bg-color-active: var(--color-base-accent-600);
    --color-button-toggle-bg-color-active-disabled: var(--color-base-accent-500);
    --color-button-toggle-icon-color: var(--color-gray-900);
    --color-button-toggle-icon-color-active: var(--color-white);
    --color-button-toggle-icon-color-active-disabled: var(--color-base-accent-300);
    --color-button-toggle-icon-color-disabled: var(--color-base-accent-300);
    --color-button-toggle-icon-color-hover: var(--color-base-accent-500);
    --color-form-bg-color: var(--color-white);
    --color-form-bg-color-active: var(--color-base-accent-600);
    --color-form-bg-color-alert: var(--color-red-50);
    --color-form-bg-color-alert-description: var(--color-red-700);
    --color-form-bg-color-disabled: var(--color-gray-100);
    --color-form-border-color: var(--color-gray-300);
    --color-form-border-color-alert-focus: var(--color-red-600);
    --color-form-border-color-alert-focus-out: var(--color-red-100);
    --color-form-border-color-focus: var(--color-base-accent-600);
    --color-form-border-color-focus-out: var(--color-blue-100);
    --color-form-checkbox-bg-color-active: var(--color-base-accent-600);
    --color-form-checkbox-bg-color-filled-disabled: var(--color-base-accent-400);
    --color-form-checkbox-icon-color-disabled: var(--color-base-accent-300);
    --color-form-checkbox-icon-color-filled: var(--color-white);
    --color-form-select-bg-color-hover: var(--color-gray-100);
    --color-form-select-icon-color-active-filter: var(--color-blue-600);
    --color-form-text-color-alert: var(--color-red-600);
    --color-form-text-color-alert-description: var(--color-white);
    --color-form-text-color-description: var(--color-slate-500);
    --color-form-text-color-primary: var(--color-gray-900);
    --color-form-text-color-secondary: var(--color-slate-500);
    --color-kbd-bg-color: var(--color-gray-100);
    --color-kbd-text-color: var(--color-base-text-color-secondary);
    --color-list-bg-color: var(--color-white);
    --color-list-bg-color-hover: var(--color-gray-100);
    --color-list-border-color: var(--color-gray-300);
    --color-message-bg-color-alert: var(--color-red-50);
    --color-message-bg-color-info: var(--color-cyan-50);
    --color-message-bg-color-success: var(--color-green-50);
    --color-message-bg-color-warning: var(--color-amber-50);
    --color-message-border-color-alert: var(--color-red-600);
    --color-message-border-color-info: var(--color-cyan-600);
    --color-message-border-color-success: var(--color-green-600);
    --color-message-border-color-warning: var(--color-amber-600);
    --color-message-text-color-alert: var(--color-red-800);
    --color-message-text-color-info: var(--color-cyan-800);
    --color-message-text-color-success: var(--color-green-700);
    --color-message-text-color-warning: var(--color-amber-800);
    --color-modal-bg-color: var(--color-white);
    --color-modal-icon-color-close: var(--color-slate-500);
    --color-navigation-menu-trigger-bg-color: var(--color-base-bg-color-regular);
    --color-navigation-menu-trigger-bg-color-hover: var(--color-base-accent-50);
    --color-pill-bg-color-filled-amber: var(--color-amber-600);
    --color-pill-bg-color-filled-blue: var(--color-blue-600);
    --color-pill-bg-color-filled-cyan: var(--color-cyan-600);
    --color-pill-bg-color-filled-gray: var(--color-gray-600);
    --color-pill-bg-color-filled-green: var(--color-green-800);
    --color-pill-bg-color-filled-lime: var(--color-lime-600);
    --color-pill-bg-color-filled-orange: var(--color-orange-600);
    --color-pill-bg-color-filled-red: var(--color-red-600);
    --color-pill-bg-color-filled-stone: var(--color-stone-600);
    --color-pill-bg-color-filled-yellow: var(--color-yellow-600);
    --color-pill-bg-color-light-amber: var(--color-amber-100);
    --color-pill-bg-color-light-blue: var(--color-blue-100);
    --color-pill-bg-color-light-cyan: var(--color-cyan-50);
    --color-pill-bg-color-light-gray: var(--color-gray-50);
    --color-pill-bg-color-light-green: var(--color-green-100);
    --color-pill-bg-color-light-lime: var(--color-lime-50);
    --color-pill-bg-color-light-orange: var(--color-orange-50);
    --color-pill-bg-color-light-red: var(--color-red-100);
    --color-pill-bg-color-light-stone: var(--color-stone-50);
    --color-pill-bg-color-light-yellow: var(--color-yellow-50);
    --color-pill-bg-color-stroke-amber: var(--color-amber-50);
    --color-pill-bg-color-stroke-blue: var(--color-blue-50);
    --color-pill-bg-color-stroke-cyan: var(--color-cyan-50);
    --color-pill-bg-color-stroke-gray: var(--color-gray-50);
    --color-pill-bg-color-stroke-green: var(--color-green-50);
    --color-pill-bg-color-stroke-lime: var(--color-lime-50);
    --color-pill-bg-color-stroke-orange: var(--color-orange-50);
    --color-pill-bg-color-stroke-red: var(--color-red-50);
    --color-pill-bg-color-stroke-stone: var(--color-stone-50);
    --color-pill-bg-color-stroke-yellow: var(--color-yellow-50);
    --color-pill-border-color-stroke-amber: var(--color-amber-400);
    --color-pill-border-color-stroke-blue: var(--color-blue-400);
    --color-pill-border-color-stroke-cyan: var(--color-cyan-300);
    --color-pill-border-color-stroke-gray: var(--color-gray-300);
    --color-pill-border-color-stroke-green: var(--color-green-400);
    --color-pill-border-color-stroke-lime: var(--color-lime-300);
    --color-pill-border-color-stroke-orange: var(--color-orange-300);
    --color-pill-border-color-stroke-red: var(--color-red-400);
    --color-pill-border-color-stroke-stone: var(--color-stone-300);
    --color-pill-border-color-stroke-yellow: var(--color-yellow-300);
    --color-pill-icon-color-light-amber: var(--color-amber-700);
    --color-pill-icon-color-light-blue: var(--color-blue-700);
    --color-pill-icon-color-light-cyan: var(--color-cyan-700);
    --color-pill-icon-color-light-gray: var(--color-gray-700);
    --color-pill-icon-color-light-green: var(--color-green-800);
    --color-pill-icon-color-light-lime: var(--color-lime-700);
    --color-pill-icon-color-light-orange: var(--color-orange-700);
    --color-pill-icon-color-light-red: var(--color-red-700);
    --color-pill-icon-color-light-stone: var(--color-stone-700);
    --color-pill-icon-color-light-yellow: var(--color-yellow-700);
    --color-pill-icon-color-stroke-amber: var(--color-amber-600);
    --color-pill-icon-color-stroke-blue: var(--color-blue-600);
    --color-pill-icon-color-stroke-cyan: var(--color-cyan-600);
    --color-pill-icon-color-stroke-gray: var(--color-gray-600);
    --color-pill-icon-color-stroke-green: var(--color-green-700);
    --color-pill-icon-color-stroke-lime: var(--color-lime-600);
    --color-pill-icon-color-stroke-orange: var(--color-orange-600);
    --color-pill-icon-color-stroke-red: var(--color-red-600);
    --color-pill-icon-color-stroke-stone: var(--color-stone-600);
    --color-pill-icon-color-stroke-yellow: var(--color-yellow-600);
    --color-pill-text-color-filled-amber: var(--color-white);
    --color-pill-text-color-filled-blue: var(--color-white);
    --color-pill-text-color-filled-cyan: var(--color-white);
    --color-pill-text-color-filled-gray: var(--color-white);
    --color-pill-text-color-filled-green: var(--color-white);
    --color-pill-text-color-filled-lime: var(--color-white);
    --color-pill-text-color-filled-orange: var(--color-white);
    --color-pill-text-color-filled-red: var(--color-white);
    --color-pill-text-color-filled-stone: var(--color-white);
    --color-pill-text-color-filled-yellow: var(--color-white);
    --color-pill-text-color-light-amber: var(--color-amber-800);
    --color-pill-text-color-light-blue: var(--color-blue-800);
    --color-pill-text-color-light-cyan: var(--color-cyan-800);
    --color-pill-text-color-light-gray: var(--color-gray-800);
    --color-pill-text-color-light-green: var(--color-green-900);
    --color-pill-text-color-light-lime: var(--color-lime-800);
    --color-pill-text-color-light-orange: var(--color-orange-800);
    --color-pill-text-color-light-red: var(--color-red-800);
    --color-pill-text-color-light-stone: var(--color-stone-800);
    --color-pill-text-color-light-yellow: var(--color-yellow-800);
    --color-pill-text-color-stroke-amber: var(--color-amber-700);
    --color-pill-text-color-stroke-blue: var(--color-blue-700);
    --color-pill-text-color-stroke-cyan: var(--color-cyan-700);
    --color-pill-text-color-stroke-gray: var(--color-gray-700);
    --color-pill-text-color-stroke-green: var(--color-green-900);
    --color-pill-text-color-stroke-lime: var(--color-lime-700);
    --color-pill-text-color-stroke-orange: var(--color-orange-700);
    --color-pill-text-color-stroke-red: var(--color-red-700);
    --color-pill-text-color-stroke-stone: var(--color-stone-700);
    --color-pill-text-color-stroke-yellow: var(--color-yellow-700);
    --color-switch-bg-color: var(--color-gray-300);
    --color-switch-bg-color-active: var(--color-base-accent-600);
    --color-switch-border-color-focus-out: var(--color-base-accent-100);
    --color-switch-switch-bg-color: var(--color-white);
    --color-switch-switch-bg-color-active-disabled: var(--color-base-accent-300);
    --color-switch-switch-bg-color-disabled: var(--color-gray-200);
    --color-tab-bg-color: var(--color-white);
    --color-tab-border-color: var(--color-white);
    --color-tab-border-color-active: var(--color-base-accent-600);
    --color-tab-text-color: var(--color-slate-500);
    --color-tab-text-color-active: var(--color-base-accent-600);
    --color-tab-text-color-inactive: var(--color-slate-300);
    --color-table-bg-color: var(--color-white);
    --color-table-bg-color-highlight: var(--color-blue-50);
    --color-table-bg-color-hover: var(--color-gray-100);
    --color-table-bg-color-odd: var(--color-gray-50);
    --color-table-bg-color-selected: var(--color-blue-700);
    --color-table-bg-color-separator: var(--color-gray-100);
    --color-table-border-color: var(--color-gray-200);
    --color-table-border-color-highlight: var(--color-blue-100);
    --color-table-border-color-odd: var(--color-gray-200);
    --color-table-border-color-selected: var(--color-blue-900);
    --color-table-text-color-highlight: var(--color-blue-900);
    --color-table-text-color-highlight-muted: var(--color-slate-500);
    --color-table-text-color-muted: var(--color-slate-500);
    --color-table-text-color-primary: var(--color-slate-950);
    --color-table-text-color-secondary: var(--color-slate-500);
    --color-table-text-color-selected: var(--color-white);
    --color-table-text-color-selected-muted: var(--color-slate-100);
    --color-toaster-bg-color: var(--color-gray-900);
    --color-toaster-text-color-primary: var(--color-white);
    --color-toaster-text-color-secondary: var(--color-slate-300);
    --color-tooltip-bg-color: var(--color-gray-900);
    --color-tooltip-text-color: var(--color-white);
    --color-utils-skeleton-bg-color: var(--color-slate-200);
}
@layer base {
    html {
        font-size: 16px; /* Keep this at 16px for rem calculations */
    }

    body {
        font-size: 13px; /* Set your desired font size here */
    }
}
